body{
    
    display:block;
    justify-content: center;
    background-image : url('4k.jpg');
    background-size : cover;
    background-position : center;
    background-attachment : fixed;
    color: #f1f1f1;
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    

    
}

form{
    background-color: transparent;
    backdrop-filter: blur(4px);
    padding: 50px;
    margin: auto;
    width: 40%;
    height:  60%;
    border: 2px  solid #f1f1f1;
    border-radius: 10px;
    box-sizing: border-box;
    
}
fieldset{
    border: 0;
    text-align: left;
}

h1,p{
    color: antiquewhite;
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}

p{
    font-size: 20px;
}
#name,#email,#number,#dropdown{
    display: block;
    border-color: white;
    margin: 10px;
    height:30px;
    width: 100%;
    border-radius: 10px;
    color:white;
    background-color: transparent;
}

#number{
    width: 100%;
    
    
}





#selectrole{
    margin-inline: -24px;
}
#dropdown{
    height:30px;
    margin: 0;
    width: 100%;
    color:white;
    background-color: black;
    opacity: 0.8;

}

textarea{
    width:100%;
    background-color: transparent;
    border-radius: 10px;
    color:white;

}
#role{
    margin:0;
    width: 100%;
}

#submit{
    width:85%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 25px;
    text-align: center;
    display: block;
    padding:5px;
    cursor: pointer;
    margin: auto;
}